<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.RestAssured_LibAPI.TestMethods.GetBookByAuthName_Library_API_Test"/>
      <class name="com.RestAssured_LibAPI.TestMethods.DeleteBook_Library_API_Test"/>
      <class name="com.RestAssured_LibAPI.TestMethods.CreateBook_Library_API_Test"/>
      <class name="com.RestAssured_LibAPI.TestMethods.GetBook_Library_API_Test"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
